<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <link rel="stylesheet" href="{{ '/css/style.css' }}">
  <header>
  </header>
  <body>
    <div class="wrapper">
      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <span class="credits left">About <a href="{{ site.url }}/about">{{ site.github.owner_name }}</a></span>
        </div>
	<hr>
        {{ content }}
	<br>
        <hr>
        <div id="footer">
          <span class="credits left">github <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
	</div>
      </section>
    </div>
  </body>
</html>

